services:
  nasa-cpp:
    container_name: nasa-cpp
    image: ghcr.io/sebastianeger/nasa-cpp:main
    build:
      context: .
      target: image-static
      args:
        BUILD_SHARED: OFF
        BUILD_STATIC: ON
    volumes:
      - ./cfg:/etc/nasa-cpp/cfg:ro
      - ./logs:/var/nasa-cpp/logs:rw
      # - ./msg:/etc/nasa-cpp/msg:ro
    restart: unless-stopped
    network_mode: host
    command: tcp_nasa_logger # tcp_hass_bridge, tcp_fsv_list, tcp_nasa_logger
