services:
  nasa-cpp:
    container_name: nasa-cpp
    image: ghcr.io/sebastianeger/nasa-cpp:main
    build:
      context: .
      target: image-static
      args:
        BUILD_SHARED: OFF
        BUILD_STATIC: ON
    volumes:
      - ./cfg:/etc/nasa-cpp/cfg:ro
      # - ./msg:/etc/nasa-cpp/msg:ro
    restart: unless-stopped
    network_mode: host
    command: tcp_hass_bridge
